* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(to right, #590e4c, #120e5c);
    color: aliceblue;
}

.row {
  margin: 0;
  height: 3.5rem;
  background-color: rgb(126, 19, 214);
}

.container {
  height: 30rem;
  width: 32rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(126, 19, 214);
  box-shadow: 0 0 1rem rgb(74, 1, 175);
}

.container form h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.container .form-group {
  margin-bottom: 1rem;
}

.container input:focus {
  box-shadow: 0 0 .5rem rgb(51, 3, 100);
}

.container input {
  outline: none;
  border: none;
}

#submit {
  background-color: rgb(71, 12, 116);
  outline: none;
  border: none;
  margin-bottom: 4rem;
}

#submit:hover {
  background-color: rgb(55, 13, 87);
}

.signup {
  display: flex;
  gap: .8rem;
  font-size: 1.2rem;
}

.signup a {
  color: rgb(245, 184, 29);
  text-decoration: none;
}